<html>

<head>
	<title>Vital Features</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.5.0/chartjs-plugin-zoom.min.js"></script>
</head>

	<center><h1>Heart Rate</h1></center>

	<canvas id="heartRate"></canvas>

	<center><h1>Respiration Rate</h1></center>

	<canvas id="respirationRate"></canvas>

	<script>

		console.log(<%= spo2 %>);

		var time = <%= time %>;
		var heartRate = <%= heart %>;
		var respirationRate = <%= respiration %>;
		var spo2 = <%= spo2 %>;
		
		var heartChart = new Chart(document.getElementById('heartRate').getContext('2d'), {
			type: 'line',
			data: {
				labels: time,
				datasets: [{
					label: 'Heart Rate',
					borderColor: 'rgb(255, 99, 132)',
					borderWidth: 1,
					pointRadius: 1,
					fill: false,
					data: heartRate
				}]
			},
			options: {
				scales: {
                    yAxes: [{
                    	ticks: {
                        	max: 110,
                            min: 40
                        }
                    }]
                },
				pan: {
					enabled: true,
					mode: 'xy',
				},
				zoom: {
					enabled: true,
					drag: true,
					mode: 'xy',
				}
			}
		});

		var respirationChart = new Chart(document.getElementById('respirationRate').getContext('2d'), {
			type: 'line',
			data: {
				labels: time,
				datasets: [{
					label: 'Respiration Rate',
					borderColor: 'blue',
					borderWidth: 1,
					pointRadius: 1,
					fill: false,
					data: respirationRate
				}]
			},
			options: {
				scales: {
                    yAxes: [{
                    	ticks: {
                        	max: 20,
                            min: 12
                        }
                    }]
                },
				pan: {
					enabled: true,
					mode: 'xy',
				},
				zoom: {
					enabled: true,
					drag: true,
					mode: 'xy',
				}
			}
		});

	</script>
</html>
