<html>

	<p>hello world!</p>
	<div style="overflow-x:scroll;overflow-y:hidden;">
		<div id="chartStyle" style="width:10000px !important;height:600px !important;">
			<canvas id="heartRate"></canvas>
		</div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
	<script>

		console.log(<%= time %>)
		console.log(<%= heart %>);
		console.log(<%= respiration %>);
		console.log(<%= spo2 %>);

		var data = <%= heart %>;
		var labels = [];
		for(var i = 0; i < data.length; i++) {
			labels.push(i);
		}
		
		var ctx = document.getElementById('heartRate').getContext('2d');
		var myLineChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: labels,
				datasets: [{
					label: "Filtered signal for heart rate",
					borderColor: 'rgb(255, 99, 132)',
					data: data,
				}]
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				elements: {
					line: {
						tension: 0, // disables bezier curves
					}
				},
				scales: {
                    yAxes: [{
                            display: true,
                            ticks: {
                                max: 200,//220000,
                                min: -200//215000
                            }
                        }]
                },
			}
		});
	</script>
</html>
